* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: block;
}
.clearfix:after {
  content: '';
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.list {
  display: list-item;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.main-wrapper {
  width: 1280px;
  margin: 0 auto;
}
.BigWrapper {
  width: 100%;
  margin: 0 auto;
}
.header-img {
  width: 100%;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
body {
  background: #fbf5f3;
}
.text-container {
  padding: 0 25px;
}
.main-text {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #000022;
  padding: 0 25px;
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 25px;
}
.image-1 {
  padding: 0 25px;
  text-align: center;
}
.button-header {
  height: 65px;
  width: 100%;
  background-image: -webkit-linear-gradient(bottom, #36556e, #43759e);
  background-image: -o-linear-gradient(bottom, #36556e, #43759e);
  background-image: linear-gradient(to top, #36556e, #43759e);
  border-radius: 5px;
  margin-top: 7px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.blue-header {
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  height: 100px;
  background-color: #1d365d;
}
.Awesome {
  font-family: 'PT Sans', sans-serif;
  font-size: 52px;
  line-height: 0.608;
  text-align: center;
  display: block;
  text-decoration: none;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: #fbf5f3;
}
.caisi {
  padding-top: 0;
  padding-right: 25px;
  padding-bottom: 0;
  padding-left: 25px;
}
.our-line {
  width: 1280px;
  height: 1px;
  border-color: gray;
  margin: 40px 0px;
}
.second-button {
  height: 65px;
  width: 100%;
  background-image: -webkit-linear-gradient(bottom, #36556e, #43759e);
  background-image: -o-linear-gradient(bottom, #36556e, #43759e);
  background-image: linear-gradient(to top, #36556e, #43759e);
  border-radius: 5px;
  margin: 20px auto;
  line-height: 0.661;
}
.buttonche {
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 135px;
  margin-left: auto;
}
.ad {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 60px;
  margin-left: 0;
  padding: 0 25px;
}
@media (max-width: 1300px) {
  .col-1 {
    width: 8.33333333%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-12 {
    width: 100%;
  }
  .main-wrapper {
    width: 100%;
  }
  .Awesome {
    font-size: 4vw;
  }
}
