*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper {
    margin: 0 auto;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: block;
}
.clearfix:after {
    content: '';
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.list {
    display: list-item;
}
@bgColor1: #000022;
@bgColor2: #1d365d;
@bgColor3: #36556e;
@bgColor4: #43759e;
@bgColor5: #fbf5f3;
@Exo: 'Exo 2', sans-serif;
@Sans: 'PT Sans', sans-serif;
@mainSize: 1280px;
@mainPadding: 0 25px;

.giveLine(@width: 1200px, @height: 1px, @color: black, @margin: 40px 0px){
    width: @width;
    height: @height;
    border-color: @color;
    margin: @margin;
}
.make-grid(@n, @i: 1, @mainSize: @mainSize) when (@i =< @n) {
    .col-@{i} {
        width: percentage(((@mainSize / @n) * @i)/@mainSize);
    }
    .make-grid(@n, (@i + 1) ,@mainSize);
}
.margin(@top: 0px,@right: 0px,@bottom: 0px,@left: 0px) {
    margin-top: @top;
    margin-right: @right;
    margin-bottom: @bottom;
    margin-left: @left;
}
.padding(@top: 0px,@right: 0px,@bottom: 0px,@left: 0px) {
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}
.give-me-button(@btnWidth: 285px, @btnHeight: 65px, @color1: @bgColor3, @color2: @bgColor4, @radius: 5px ) {
    height: @btnHeight;
    width: @btnWidth;
    background-image: -webkit-linear-gradient(bottom, fade(@color1, 100%), fade(@color2, 100%));
    background-image: -o-linear-gradient(bottom, fade(@color1, 100%), fade(@color2, 100%));
    background-image: linear-gradient(to top, fade(@color1, 100%), fade(@color2, 100%));
    border-radius: @radius;
}
.give-font(@family: @Exo, @size: 16px, @lineheight: 32px, @align: center){
    font-family: @family;
    font-size: @size;
    line-height: @lineheight;
    text-align: @align;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    margin: 0 auto;
    text-align: center;
}
.main-wrapper {
    width: @mainSize;
    margin: 0 auto;
}
.BigWrapper {
    width:100%;
    margin: 0 auto;
}
.header-img {
    width: 100%;
}

.make-grid(12, 1, 1280px);
body {
    background: @bgColor5;
}
.text-container {
    padding: @mainPadding;
}
.main-text {
    .give-font();
    color: @bgColor1;
    padding: @mainPadding;
    .margin(50px,0,10px,25px)
}
.image-1 {
    padding: @mainPadding;
    text-align: center;
}
.button-header {
    .give-me-button(100%,);
    .margin(7px,0,0,0)
}
.blue-header {
    .padding(15px,0,0,0);
    height: 100px;
    background-color: @bgColor2;
}
.Awesome {
    .give-font(@Sans, 52px, 0.608);
    display: block;
    text-decoration: none;
    .padding(10px,0,0,0);
    color: @bgColor5 ;
}
.caisi {
    .padding(0,25px,0,25px);
}
.our-line {
    .giveLine(1280px, 1px, gray);
}
.second-button {
    .give-me-button(100%,);
    margin: 20px auto;
    line-height: 0.661;
}
.buttonche {
    .margin(60px,auto,135px,auto);
}
.ad {
    width: 100%;
    .margin(0,0,60px,0);
    padding: @mainPadding;
}

@media (max-width: 1300px) {
    .make-grid(12, 1, 100%);
    .main-wrapper {width:100%;}
    .Awesome {font-size:4vw;}
}